.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .18);
    background-color: #f9844a;
    text-align: center;
    color: black;
    &:nth-child(4n+1) {
        background-color: #90be6d;
    }
    &:nth-child(4n+2) {
        background-color: ##ffca89;
    }
    &:nth-child(4n+3) {
        background-color: #43aa8b;
    }
}
