---
    title: Jam Docs
    layout: layouts/base.njk
---
{% block main %}

    <div class="content">
        <h2>Static Site Generators</h2>

        <div class="resources-container">
            {%- for res in collections.ssg -%}
                {%resourcecard res%} 
            {%- endfor -%}
        </div>

         <h2>Hosting</h2>
        <div class="resources-container">
            {%- for res in collections.hosting -%}
                {%resourcecard res%} 
            {%- endfor -%}
        </div>

        <h2>Headless CMSes</h2>
        <div class="resources-container">
            {%- for res in collections.cms -%}
                {%resourcecard res%} 
            {%- endfor -%}
        </div>

        <h2>Other Data Sources</h2>
        <div class="resources-container">
            {%- for res in collections.datasource -%}
                {%resourcecard res%} 
            {%- endfor -%}
        </div>
    </div>

{% endblock %}